body{
    background-image: url('assets/images/coin.jpg');
    max-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
   
}
 .box{
    background-color: white;
    height: 65%;
    width: 35%;
    margin-top: 8rem;
    margin-left: 37rem;
    border-radius: 10px;
   
}

.box-1{
    background-color:#9BB7F9;
    height: 110%;
    width: 35%;
    margin-top: 8rem;
    margin-left: 37rem;
    border-radius: 10px;
   
}

.header{
    color: rgb(8, 8, 61);
    font-family: poppins;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.header-1{
    color: rgb(8, 8, 61);
    font-family: poppins;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.form-content{
    padding-left: 50px;
    padding-top: 40px;
    font-family: poppins;
}
.label-1{
    padding-left: 0px;
    color: white;
}
.label-2{
    padding-left: 0px;
    color: white;
}

.label-3{
    padding-left: 0px;
    color: white;
}

.label-4{
    padding-left: 0px;
    color: white;
}

.label-5{
    padding-left: 0px;
    color: white;
}

.label-6{
    padding-left: 0px;
    color: white;
}

.label-7{
    padding-left: 0px;
    color: black;
}

.label-8{
    padding-left: 0px;
    color: black;
}

.email{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.lastname{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.firstname{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    border-bottom-color: rgb(8, 8, 61);
    width: 30rem;
    height: 50px;
    font-family: poppins;
}
.password{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.confirm-password{
    padding: 10px;
    border: 1px solid #ced4da;
    
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.forgot-password{
    font-family: poppins;
    font-weight: 300;
    margin-left: 60px;
}
.button{
    background-color: rgb(3, 3, 107);
    box-shadow: none;
    color: white;
    margin-left:0px;
    padding: 1.1rem 6rem;
    border-radius: 50px;
    font-family: poppins;
    text-decoration: none;
}

.create-account{
    background-color: rgb(8, 8, 61);
    box-shadow: none;
    color: white;
    margin-left: 60px;
    padding: 1.1rem 6rem;
    border-radius: 50px;
    font-family: poppins;
    text-decoration: none;
}

.sign-up{
    font-family: poppins;
    font-weight: 300;
    color: white;
    margin-left: 50em;
    text-decoration: none;
}

.gabriel{
    color: white;
    text-decoration: none;
}